@model string

<div id='Erro' class='modal-dialog'>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
                <span class="fa fa-warning" aria-hidden="true"></span>
                &nbsp;
                <strong>Erro</strong>
            </h4>
        </div>
        <div class="modal-body">
            <h4 id="ErroMensagem">
                @Model
            </h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-custom" data-dismiss="modal">
                Fechar
            </button>
        </div>
    </div>
</div>